<%= render :partial => "partials/include_base" %>  
<%= javascript_include_tag 'jquery.datatables' %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#data-table").dataTable({
      "aaSorting": [[3,'desc']],
      "iDisplayLength": 25,
      "sDom": "frtilp",
      "bLengthChange": false,
      "sPaginationType": "full_numbers",
  		"aoColumns": [ 
  			null,
  			null,
  			null,
  			{
  				"fnRender": function ( oObj ) {
  					return formatNumber(oObj.aData[3]) +' €';
  				},
  				"bUseRendered": false
  			},
  			{
  				"fnRender": function ( oObj ) {
  					return oObj.aData[4] == '' ? 'N. D.' : formatNumber(oObj.aData[4]) +' €';
  				},
  				"bUseRendered": false
  			}
  		],
  		"oLanguage": {
  		  "oPaginate": {
  		    "sFirst": "<<",
  		    "sLast": ">>",
  		    "sNext": ">",
  		    "sPrevious": "<"
  		  },
  		  "sInfo": "Mostrando _START_ a _END_ (de _TOTAL_)",
  		  "sInfoFiltered": " - filtrados de un total de _MAX_ registros",
  		  "sSearch": "Buscar"
		  }
    });
    
  });
</script>

<div class="push-1 span-18"> 
	<h2>Patrimonios Altos Cargos Junta de Andalucía</h2>
  <div class="push-1 span-16 last" id="graph-params">
      <p class="large">Esta web permite visualizar la evolución de los patrimonios declarados por los altos cargos 
        de la Junta de Andalucía, aprovechando que sus declaraciones de bienes están disponibles 
        en Internet y se actualizan anualmente. Desgraciadamente, este no es el caso en otras 
        administraciones o parlamentos regionales, ni a nivel nacional. Esperamos que este pequeño proyecto 
        empuje a otras administraciones y parlamentos a seguir el ejemplo de Andalucía.</p>
      <p class="large">Este proyecto es parte del <a href="http://www.abredatos.es/">Desafío AbreDatos 2010</a> 
        promovido por <a href="http://blog.probp.org/">Pro Bono Publico</a>.</p> 
      <p class="small">(Datos: Junta de Andalucía)</p>
  </div>

  <div class="span-20 last">
    <table id="data-table" cellspacing="1" class="tablesorter">             
	    <thead>
	      <tr>
	        <th width="30%">Nombre</th>
	        <th width="30%">Cargo</th>
	        <th width="20%">Consejería / Organismo</th>
	        <th width="10%">Último Patrimonio</th>
	        <th width="10%">Último Incremento</th>
	      </tr>
	    </thead>
	    <tbody>
      <% for politician in @politicians %>
			<tr>
				<td><%= link_to politician.name, politician %></td>
				<td><%= politician.statements.first.position %></td>
				<td><%= politician.statements.first.entity %></td>
				<td class="ralign"><%= politician.statements.first.net_worth %></td>
				<td class="ralign"><%= 
				  (politician.statements.size > 1) ?
				    politician.statements[0].net_worth-politician.statements[1].net_worth :
				    '' %></td>
			</tr>
			<% end %>
	    </tbody>
	  </table>
  </div>
</div>			
			