<!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
<%= render :partial => "partials/include_base" %>  
<%= javascript_include_tag 'jquery.flot', 'jquery.flot.stack', 'statement.show', :cache => 'cache/politicians/show'  %>

<script type="text/javascript">
  $(document).ready(function() {

    var total_property = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_property||0 %>],
    <% end %>
    ];
    var total_cash = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_cash||0 %>],
    <% end %>
    ];
    var total_funds = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_funds||0 %>],
    <% end %>
    ];
    var total_vehicles = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_vehicles||0 %>],
    <% end %>
    ];
    var total_liabilities = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%=-(statement.total_liabilities||0) %>],
    <% end %>
    ];
    var total_net_worth = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%=statement.net_worth %>],
    <% end %>
    ];
      
    var statementsIds = [
    <% for statement in @politician.statements.reverse %>
      <%= statement.id %>,
    <% end %>
    ];
    
    var dataSeries = [ 
      {label: "Inmuebles", data: total_property},
      {label: "Cuentas Bancarias", data: total_cash},
      {label: "Acciones y Fondos", data: total_funds},
      {label: "Vehículos", data: total_vehicles},
      {label: "Préstamos/Hipotecas", data: total_liabilities, stack: 'liabilities'},
      {label: "<b>Patrimonio Neto</b>", data: total_net_worth, stack: null, bars: {show: false}, lines: { show: true }}
    ];
    
    drawGraph(dataSeries, statementsIds);
  });
</script>

<div class="push-1 span-16 last"> 
	<h2>Evolución del Patrimonio Declarado</h2>
  <div class="push-1 span-14 last">
      <p class="large">Alto Cargo: <b><%= @politician.name %></b></p>
      <p>Último cargo ejercido: <%= @politician.statements.first.position %></p>
      <p>Consejería / Organismo: <%= @politician.statements.first.entity %></p>
      <p class="small">(Datos: Junta de Andalucía. Enlaces a las declaraciones originales en la tabla 
        al final de la página.)</p>
  </div>

  <div id="flot-wrapper" class="span-22 last clear" style="margin-bottom: 30px;">
    <div id="flot" style="width:600px;height:300px;" class="span-14"></div>
    <div id="flot-legend" class="span-4 last"></div>
  </div>

  <div class="span-16 last clear">
    <h3>Última declaración</h3>
    <table id="data-table" cellspacing="1" class="tablesorter">             
	    <thead>
	      <tr>
	        <th>Descripción</th>
	        <th style="text-align: right">Valor Euros</th>
	      </tr>
	    </thead>
	    <tbody>
      <% for item in @politician.statements.first.items %>
			<tr>
				<td><%= item.description%></a></td>
				<td class="ralign"><%= number_with_delimiter(item.value) %> €</td>
			</tr>
			<% end %>
	    </tbody>
	  </table>
    <p class="small">Nota 1: Para los bienes inmuebles las declaraciones de bienes recogen el valor catastral, 
      salvo que la descripción diga lo contrario. Este valor puede no coincidir con el precio de mercado.</p>
    <p class="small">Nota 2: Patrimonio Neto es la suma de los activos de una persona (inmuebles, 
	    fondos de inversión, cuentas bancarias y vehículos), menos la suma de sus deudas (préstamos 
	    personales e hipotecas). Hemos decidido excluir los seguros de vida del cálculo, ya que
	    distorsiona los resultados al producir incrementos repentinos de capital que son ficticios.</p>  	  
  </div>
  
  <div class="span-16 last clear">
    <h3>Últimas actividades e intereses declarados</h3>
    <%if @politician.statements.first.activities.empty? %>
      <p>No se han declarado otras actividades.</p>
    <%else%>
    <ul>
      <% for activity in @politician.statements.first.activities %>
      <li><%= activity.description%></li>
			<% end %>      
    </ul>
    <%end%>
  </div>
  
  <h3>Histórico de declaraciones</h3>
  <div class="span-20 pull-2 last">
    <table id="data-table" cellspacing="1" class="tablesorter">             
	    <thead>
	      <tr>
	        <th>Fecha</th>
	        <th>Motivo</th>
	        <th>Cargo</th>
	        <th>Organismo</th>
	        <th width="10%" style="text-align: right">Bienes Totales</th>
	        <th width="10%" style="text-align: right">Préstamos e Hipotecas</th>
	        <th width="10%" style="text-align: right">Patrimonio Neto</th>
	      </tr>
	    </thead>
	    <tbody>
      <% for statement in @politician.statements %>
			<tr>
				<td><a href="<%=statement.url%>"><%=statement.event_date%></a></td>
				<td><%= statement.event %></td>
				<td><%= statement.position %></td>
				<td><%= statement.entity %></td>
				<td class="ralign"><%= number_with_delimiter(statement.total_assets) %> €</td>
				<td class="ralign"><%= number_with_delimiter(statement.total_liabilities) %> €</td>
				<td class="ralign"><%= number_with_delimiter(statement.net_worth) %> €</td>
			</tr>
			<% end %>
	    </tbody>
	  </table>
  </div>
</div>			
