<!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
<%= render :partial => "partials/include_base" %>  
<%= javascript_include_tag 'jquery.flot', 'jquery.flot.stack', 'statement.show', :cache => 'cache/politicians/show'  %>

<script type="text/javascript">
  $(document).ready(function() {

    var total_property = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_property||0 %>],
    <% end %>
    ];
    var total_cash = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_cash||0 %>],
    <% end %>
    ];
    var total_funds = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_funds||0 %>],
    <% end %>
    ];
    var total_insurance = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_insurance||0 %>],
    <% end %>
    ];
    var total_vehicles = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%= statement.total_vehicles||0 %>],
    <% end %>
    ];
    var total_liabilities = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, <%=-(statement.total_liabilities||0) %>],
    <% end %>
    ];
    var total_net_worth = [
    <% for statement in @politician.statements.reverse %>
      [<%= statement.event_date.to_datetime.to_f*1000 %>, 
        <%=(statement.total_property||0)+(statement.total_cash||0)+(statement.total_funds||0)+
        (statement.total_insurance||0)+(statement.total_vehicles||0)-(statement.total_liabilities||0) %>],
    <% end %>
    ];
    
    var dataSeries = [ 
      {label: "Inmuebles", data: total_property},
      {label: "Cuentas", data: total_cash},
      {label: "Fondos", data: total_funds},
      {label: "Seguros", data: total_insurance},
      {label: "Vehículos", data: total_vehicles},
      {label: "Préstamos", data: total_liabilities, stack: 'liabilities'},
      {label: "Patrimonio", data: total_net_worth, stack: null, bars: {show: false}, lines: { show: true }}
    ];
    
    drawGraph(dataSeries);
  });
</script>

<div class="push-1 span-18"> 
	<h2>Evolución del Patrimonio Declarado</h2>
  <div class="push-1 span-16 last">
      <p class="large">Alto Cargo: <b><%= @politician.name %></b></p>
      <p>Último cargo: <%= @politician.statements.first.position %></p>
      <p>Organismo: <%= @politician.statements.first.entity %></p>
      <p class="small">(Datos: Junta de Andalucía)</p>
  </div>

  <div id="flot-wrapper" class="span-18 last clear" style="margin-bottom: 30px;">
    <div id="flot" style="width:650px;height:300px;" class="span-14 last"></div>
  </div>
   
  <h3>Última declaración</h3>
  <div class="span-16 clear">
    <table id="data-table" cellspacing="1" class="tablesorter">             
	    <thead>
	      <tr>
	        <th>Descripción</th>
	        <th align="right">Valor Euros</th>
	      </tr>
	    </thead>
	    <tbody>
      <% for item in @politician.statements.first.items %>
			<tr>
				<td><%= item.description%></a></td>
				<td class="ralign"><%= item.value %> €</td>
			</tr>
			<% end %>
	    </tbody>
	  </table>
  </div>
  
  <h3>Histórico de declaraciones</h3>
  <div class="span-20 pull-2 last">
    <table id="data-table" cellspacing="1" class="tablesorter">             
	    <thead>
	      <tr>
	        <th>Fecha</th>
	        <th>Motivo</th>
	        <th>Cargo</th>
	        <th>Organismo</th>
	        <th width="10%">Inmuebles</th>
	        <th width="10%">Cuentas</th>
	        <th width="10%">Fondos</th>
	        <th width="10%">Seguros</th>
	        <th width="10%">Vehículos</th>
	        <th width="10%">Préstamos</th>
	      </tr>
	    </thead>
	    <tbody>
      <% for statement in @politician.statements %>
			<tr>
				<td><a href="<%=statement.url%>"><%=statement.event_date%></a></td>
				<td><%= statement.event %></td>
				<td><%= statement.position %></td>
				<td><%= statement.entity %></td>
				<td class="ralign"><%= statement.total_property || '0' %> €</td>
				<td class="ralign"><%= statement.total_cash || '0' %> €</td>
				<td class="ralign"><%= statement.total_funds || '0' %> €</td>
				<td class="ralign"><%= statement.total_insurance || '0' %> €</td>
				<td class="ralign"><%= statement.total_vehicles || '0' %> €</td>
				<td class="ralign"><%= statement.total_liabilities || '0' %> €</td>
			</tr>
			<% end %>
	    </tbody>
	  </table>
  </div>
</div>			
